* {
  padding: 0;
  margin: 0;
}
body {
  background: url(../assets/images/background.jpg);
	background-attachment: fixed;
  background-size: cover;
}
.header-block {
  display: block;
  position: absolute;
  background: linear-gradient(90deg, #0E6BAE, #55B2F5);
  width: 60%;
  max-width: 100%;
  height: 110px;
  left: 20%;
  top: 5%;
  box-shadow: 0px 0px 10px 1px black inset;
}
.club-logo-block img{
  display: block;
  position: absolute;
  width: 8.5%;
  left: 5%;
  bottom: 10%;
  filter: drop-shadow(0px 0px 15px black);
}
.header-text {
  display: block;
  position: absolute;
  left: 17%;
  top: 25%;
}
.header-text span {
  font-family: "Rubik-Bold";
  text-shadow: 0px 0px 4px black;
  font-size: 30px;
  color: white;
}
#add-text {
  font-family: "Rubik-Bold";
  font-size: 15px;
  color: white;
}
.nav-bar {
  display: block;
  background-color: #213881;
  position: absolute;
  width: 60%;
  left: 20%;
  max-width: 100%;
  top: 16.3%;
  border-top: 1px solid white;
}
ul.ul-nav {
  display: flex;
  padding: 0;
  justify-content: center;
}
li.li-nav {
  padding: 10px;
  list-style: none;
}
li.li-nav a {
  text-decoration: none;
  font-family: "Rubik-Regular";
  margin-left: 57px;
  margin-right: 57px;
  font-size: 15px;
  color: white;
  text-shadow: 0px 0px 1px white;
  transition: .2s;
}
li.li-nav a:hover {
  color: #C7C7C7;
  text-shadow: 0px 0px 2px #C7C7C7;
  transition: .2s;
}
.last-match-block {
  display: block;
  position: absolute;
  background: linear-gradient(45deg, #213881, #3458CD, #162556);
  top: 28%;
  left: 20%;
  width: 400px;
  height: 500px;
  box-shadow: 0px 0px 8px 1px white;
}
.match-team-name-1 {
  display: block;
  position: absolute;
  font-family: "Rubik-Regular";
  color: white;
  top: 59%;
  left: 79.5%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.match-team-name-2 {
  display: block;
  position: absolute;
  font-family: "Rubik-Regular";
  color: white;
  top: 59%;
  left: 20.5%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.header-text-match {
  display: block;
  position: relative;
  width: 100%;
  background: linear-gradient(60deg, #0E6BAE, #55B2F5);
  height: 60px;
}
.header-text-match span {
  display: block;
  position: absolute;
  font-family: "Rubik-Regular";
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.match-logo-1 {
  display: block;
  position: absolute;
  top: 25%;
  width: 150px;
  left: 68%;
}
.match-logo-1 img {
  width: 62%;
}
.match-logo-2 {
  display: block;
  position: absolute;
  top: 23.5%;
  width: 150px;
  left: 8%;
}
.match-logo-2 img {
  width: 65%;
}
.match-score-text span {
  display: block;
  position: absolute;
  font-family: "Rubik-Bold";
  color: white;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
}
.match-text span {
  display: block;
  position: absolute;
  font-family: "Rubik-Regular";
  text-align: center;
  color: white;
  top: 85%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.next-match-block {
  display: block;
  position: absolute;
  background: linear-gradient(135deg, #213881, #3458CD, #162556);
  top: 28%;
  right: 20%;
  width: 400px;
  height: 500px;
  box-shadow: 0px 0px 8px 1px white;
}
.footer-block {
  display: block;
  position: absolute;
  left: 20%;
  width: 60%;
  max-width: 100%;
  height: 12%;
  top: 88%;
  background: linear-gradient(45deg, #0E6BAE, #55B2F5);
}
#footer-links-1 {
  display: block;
  position: absolute;
  left: 3%;
  top: 15%;
}
#footer-links-1 a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-family: "Rubik-Regular";
}
#footer-links-1 a:hover {
  text-decoration: underline;
}
#footer-links-2 {
  display: block;
  position: absolute;
  left: 15%;
  top: 15%;
}
#footer-links-2 a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  font-family: "Rubik-Regular";
}
#footer-links-2 a:hover {
  text-decoration: underline;
}
.footer-last-block {
  display: block;
  position: absolute;
  width: 60%;
  left: 20%;
  top: 97%;
  height: 3%;
  background-color: #213881;
}
.footer-last-block span {
  display: block;
  position: absolute;
  top: 30%;
  left: 1.5%;
  font-size: 12px;
  color: #1D5C7E;
  font-family: "Rubik-Regular";
}
@font-face {
  font-family: "Roboto";
	src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
  font-family: "Rubik-Regular";
	src: url("../assets/fonts/Rubik-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
  font-family: "Rubik-Bold";
	src: url("../assets/fonts/Rubik-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
  font-family: "Rubik Mono One";
	src: url("../assets/fonts/RubikMonoOne-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
